<div initialize>

   <div class="row">
      <div class="one-third column">

         <!-- Get arsc model -->
         <div class="field" title="Reference to arsc record (if parent function already fetched it)">
            <label for="custom-control-arsc-model">ARSC Model Reference</label>
            <input type="text" id="custom-control-arsc-model" ng-model="activeControl.options.arscModel" />
         </div>

         <!-- Get arsc function -->
         <div class="field" title="Reference to a function that can asynchronously provide the arsc via a callback function">
            <label for="custom-control-arsc-fn">Get Customer Function</label>
            <input type="text" id="custom-control-arsc-fn" ng-model="activeControl.options.arscFunction" />
         </div>

         <!-- Get groupid model -->
         <div class="field" title="Reference to a groupid model">
            <label for="custom-control-groupid-model">Groupid Reference</label>
            <input type="text" id="custom-control-groupid-model" ng-model="activeControl.options.groupidModel" />
         </div>
      </div>
      <div class="one-third column">
         <ul>
            <li>
               Choose the 1st option if your parent controller already fetches the arsc record.
            </li>
            <li>
               Choose the 2nd option and implement a function that sends the customer via a callback function (In this case customer can be used in multiple tabs with in same view state).
            </li>
            <li>
               Choose the 3rd option that sends the groupid value (Give only if groupid available in your active view).
            </li>
         </ul>
      </div>
   </div>
</div>
