<div initialize>

   <div class="row">
      <div class="one-third column">
         <!-- Get arsc model -->
         <div class="field" title="Reference to arsc record (if parent function already fetched it)">
            <label for="custom-control-arsc-model">ARSC Model Reference</label>
            <input type="text" id="custom-control-arsc-model" ng-model="activeControl.options.arscModel" />
         </div>

         <!-- Get arsc function -->
         <div class="field" title="Reference to a function that can asynchronously provide the arsc via a callback function">
            <label for="custom-control-custno-fn">Get Customer Function</label>
            <input type="text" id="custom-control-arsc-fn" ng-model="activeControl.options.arscFunction" />
         </div>

         <!-- Get orderno model -->
         <div class="field" title="Reference to a orerno model">
            <label for="custom-control-orderno-model">OrderNo Reference</label>
            <input type="text" id="custom-control-orderno-model" ng-model="activeControl.options.ordernoModel" />
         </div>

         <!-- Get ordersuf model -->
         <div class="field" title="Reference to a orersuffix model">
            <label for="custom-control-ordersuf-model">OrderSuf Reference</label>
            <input type="text" id="custom-control-ordersuf-model" ng-model="activeControl.options.ordersufModel" />
         </div>
      </div>
      <div class="one-third column">
         <!--<p class="message">-->
         <ul>
            <li>
               Choose the 1st option if your parent controller already fetches the arsc record.
            </li>
            <li>
               Choose the 2nd option and implement a function that sends the customer via a callback function (In this case customer can be used in multiple tabs with in same view state).
            </li>
            <li>
               Choose the 3rd option that sends the orderno value (Give only if orderno available in your active view).
            </li>
            <li>
               Choose the 4th option that sends the ordersuf value (Give only if ordersuf available in your active view).
            </li>
         </ul>
         <!--</p>-->
      </div>
   </div>
</div>
