<ul id="personalize-menu" class="popupmenu has-icons">

   <!-- Edit -->
   <li ng-show="base.isType(['BTN', 'CHART', 'CUSTOM', 'EXP_AREA', 'FIELD', 'FIELD_SET', 'GRID', 'GRID_COL', 'IMAGE', 'MENU_OPT', 'MODAL', 'MOD_SIDEBAR', 'OPT', 'SWAP_LIST_LIST', 'TAB', 'TOOLBAR', 'WIZARD_TICK'])">
      <a ng-click="base.editControl(base.control.id)"><svg class="icon"><use xlink:href="#icon-edit"></use></svg><span translate>global.edit</span></a>
   </li>

   <!-- Personalize Sub View / Custom Control -->
   <li ng-show="base.isType(['SUB_VIEW', 'CUSTOM'])">
      <a ng-click="base.personalizeSubView(base.control.id)"><svg class="icon"><use xlink:href="#icon-settings"></use></svg><span translate>global.personalize</span></a>
   </li>

   <!-- Move Control -->
   <li class="submenu">
      <a><svg class="icon"><use xlink:href="#icon-maximize"></use></svg><span translate>global.move</span></a>

      <ul class="popupmenu has-icons">
         <li><a ng-click="base.moveControl(base.control.id, true)"><svg class="icon"><use xlink:href="#icon-left-arrow"></use></svg><span translate>global.back</span></a></li>
         <li><a ng-click="base.moveControl(base.control.id, false)"><svg class="icon"><use xlink:href="#icon-right-arrow"></use></svg><span translate>global.forward</span></a></li>
      </ul>
   </li>

</ul>