<div initialize>
   <div class="row">

      <div class="one-half column">
         <!-- Header -->
         <div class="field">
            <label for="custom-control-header" translate>global.header</label>
            <input type="text" required id="custom-control-header" ng-model="activeControl.options.header" placeholder="i.e. dtl.oeeh" />
         </div>
      </div>

      <div class="one-half column">
         <!-- Enable Authorization -->
         <div class="field">
            <input type="checkbox" id="custom-control-is-enabled" class="checkbox" ng-model="activeControl.options.isEnabled" />
            <label class="checkbox-label" for="custom-control-is-enabled">Enable Authorization</label>
         </div>
      </div>

   </div>

</div>
