<div initialize>
   <div class="row">
      <div class="one-third column">
         <!-- Address1 -->
         <div class="field">
            <label for="custom-control-addr1-model">Address 1 Model</label>
            <input type="text" id="custom-control-addr1-model" ng-model="activeControl.options.addr1Model"/>
         </div>

         <!-- Address2 -->
         <div class="field">
            <label for="custom-control-addr2-model">Address 2 Model</label>
            <input type="text" id="custom-control-addr2-model" ng-model="activeControl.options.addr2Model" />
         </div>

         <!-- Address3 -->
         <div class="field">
            <label for="custom-control-addr3-model">Address 3 Model</label>
            <input type="text" id="custom-control-addr3-model" ng-model="activeControl.options.addr3Model" />
         </div>

         <!-- City -->
         <div class="field">
            <label for="custom-control-city-model">City Model</label>
            <input type="text" id="custom-control-city-model" ng-model="activeControl.options.cityModel" />
         </div>

         <!-- State -->
         <div class="field">
            <label for="custom-control-state-model">State Model</label>
            <input type="text" id="custom-control-state-model" ng-model="activeControl.options.stateModel" />
         </div>

         <!-- ZipCode -->
         <div class="field">
            <label for="custom-control-zipcd-model">Zip Code Model</label>
            <input type="text" id="custom-control-zipcd-model" ng-model="activeControl.options.zipCodeModel" />
         </div>
      </div>

      <div class="one-third column">
         <!-- Country Code -->
         <div class="field">
            <label for="custom-control-zipcd-model">Country Code Model</label>
            <input type="text" id="custom-control-countrycd-model" ng-model="activeControl.options.countryCodeModel" />
         </div>

         <!-- GEO Code -->
         <div class="field">
            <label for="custom-control-geocd-model">Geo Code Model</label>
            <input type="text" id="custom-control-geocd-model" ng-model="activeControl.options.geoCodeModel"/>
         </div>

         <!-- Out Of City Flag -->
         <div class="field">
            <label for="custom-control-geocd-model">Out Of City Flag Model</label>
            <input type="text" id="custom-control-outofcityfl-model" ng-model="activeControl.options.outOfCityFlagModel" />
         </div>
      </div>

      <div class="one-third column">
         <!-- Address Label -->
         <div class="field">
            <label for="custom-control-address-label">Address Label</label>
            <input type="text" id="custom-control-address-label" ng-model="activeControl.options.addressLabel" i18n-autocomplete />
         </div>

         <!-- CountryCd Visible -->
         <div class="field">
            <input type="checkbox" id="custom-control-countrycd-visible" class="checkbox" ng-model="activeControl.options.countryCdVisible" />
            <label class="checkbox-label" for="custom-control-countrycd-visible" translate>Country Visible</label>
         </div>

         <!-- GeoCode Visible -->
         <div class="field">
            <input type="checkbox" id="custom-control-geocd-visible" class="checkbox" ng-model="activeControl.options.geoCodeVisible" />
            <label class="checkbox-label" for="custom-control-geocd-visible" translate>Geo Code Visible</label>
         </div>

         <!-- OutOfCity Visible -->
         <div class="field">
            <input type="checkbox" id="custom-control-outofcity-visible" class="checkbox" ng-model="activeControl.options.outOfCityVisible"/>
            <label class="checkbox-label" for="custom-control-outofcity-visible" translate>Out Of City Visible</label>
         </div>

      </div>
   </div>
</div>
