<div ng-controller="JournalCtrl as jrnl" initialize>
   <div class="listview is-selectable scrollable-y" style="height: 100%;" role="listbox">
      <ul>
         <li role="option" ng-click="jrnl.journalDisplayClicked()">
            <p class="listview-heading"><span translate>global.journal.number</span>{{jrnl.journal.gJrnlno || '0'}}</p>
            <p class="listview-subheading"><span translate>global.period</span>: <span data-model="jrnl.journal.gPeriod" data-formatter="PeriodInteger"></span></p>
            <p class="listview-micro"><span translate>global.post.date</span>: <span data-model="jrnl.journal.gPostdt" data-formatter="DATE"></span></p>
         </li>
      </ul>
   </div>

   <div class="row" style="margin-top: 18px;">
      <div class="full column" style="width: calc(100% - 18px);">
         <button type="button" class="btn-primary" ng-disabled="jrnl.isJournalOpen()" ng-click="jrnl.journalOpenClicked()"><span translate>global.open</span></button>
         <button type="button" class="btn-tertiary" ng-disabled="!jrnl.isJournalOpen() || jrnl.isCloseDisabled" ng-click="jrnl.journalCloseClicked()"><span translate>global.close</span></button>
      </div>
   </div>
</div>