<div class="listview is-selectable" tabindex="-1" role="listbox">
   <table role="grid" class="listview-table show-headers">
      <thead>
         <tr role="option" aria-posinset="1" aria-setsize="9">
            <th scope="col" role="columnheader"> <span translate>global.report.line</span></th>
            <th scope="col" role="columnheader" class="l-right-text"> <span translate>global.type</span></th>
         </tr>
      </thead>
      <tbody>
         <tr role="option" ng-repeat="item in base.dataset" tabindex="0" ng-click="mst.drilldown(item)">
            <td class="listview-heading" style="display: block; font-family: monospace; white-space: pre; font-size: 1.3rem;">{{item.prtline}}</td>
            <td class="l-right-text">{{item.recordty}}</td>
         </tr>
      </tbody>
   </table>
</div>
