<div initialize>
   <div class="row">
      <div class="one-third column">
         <!-- Get jrnlno model -->
         <div class="field" title="Reference to a jrnlno model">
            <label for="custom-control-jrnlno-model">JournalNumber Reference</label>
            <input type="text" id="custom-control-jrnlno-model" ng-model="activeControl.options.jrnlnoModel" />
         </div>

         <!-- Get setno model -->
         <div class="field" title="Reference to a setno model">
            <label for="custom-control-setno-model">SetNumber Reference</label>
            <input type="text" id="custom-control-setno-model" ng-model="activeControl.options.setnoModel" />
         </div>

         <!-- Get menu function model -->
         <div class="field" title="Reference to a menu function model">
            <label for="custom-control-menuname-model">MenuFunction Reference</label>
            <input type="text" id="custom-control-menuname-model" ng-model="activeControl.options.menunameModel" />
         </div>
      </div>
      <div class="one-third column">
         <!--<p class="message">-->
         <ul>
            <li>
               Choose the 1st option that sends the jrnlno value (Give only if journal number available in your active view).
            </li>
            <li>
               Choose the 2nd option that sends the setno value (Give only if set number available in your active view).
            </li>
            <li>
               Choose the 3rd option that sends the menu function name value (Give menu function name where this view is used ex:oeir).
            </li>
         </ul>
         <!--</p>-->
      </div>
   </div>
</div>