<div initialize>
   <div class="row">

      <div class="one-half column">
         <!-- Function Name -->
         <div class="field" title="Reference function that is calling the Tally Control">
            <label for="custom-control-functionName-model" class="required">Function Name</label>
            <div class="field">
               <select id="custom-control-functionName-model"
                       class="dropdown dropdown"
                       ng-model="activeControl.options.functionNameModel"
                       dropdown>
                  <option>poei</option>
                  <option>poet</option>
               </select>
            </div>
         </div>

         <!-- Submit Callback Function -->
         <div class="field" title="Reference to the Submit Callback function sitting on the Parent (Only used when we need to do this, leave it blank otherwise.)">
            <label for="custom-control-submitCallback">Submit Callback Function on Parent</label>
            <input type="text" id="custom-control-submitCallback" ng-model="activeControl.options.submitCallbackModel"/>
         </div>
         <!-- Cancel Callback Function -->
         <div class="field" title="Reference to the Cancel Callback function sitting on the Parent (Only used when we need to do this, leave it blank otherwise.)">
            <label for="custom-control-cancelCallback">Cancel Callback Function on Parent</label>
            <input type="text" id="custom-control-cancelCallback" ng-model="activeControl.options.cancelCallbackModel" />
         </div>
      </div>

      <div class="one-half column">
         <!-- Purchase Order -->
         <div class="field" title="Reference to the Purchase Order Object">
            <label for="custom-control-purchaseOrder" class="required" translate>global.purchase.order</label>
            <input type="text" id="custom-control-purchaseOrder" ng-model="activeControl.options.purchaseOrderModel" data-validate="required"/>
         </div>
         <!-- Purchase Order Line -->
         <div class="field" title="Reference to the Order Line Object">
            <label for="custom-control-purchaseOrderLine" class="required" translate>global.order.suffix</label>
            <input type="text" id="custom-control-purchaseOrderLine" ng-model="activeControl.options.purchaseOrderLineModel" data-validate="required"/>
         </div>
      </div>
   </div>
</div>