<div initialize>
   <div class="row">
      <div class="one-third column">
         <!-- Purchase Order Number -->
         <div class="field" title="Reference to the Purchase Order Number">
            <label for="custom-control-purchaseOrderNumber" class="required" translate>global.purchase.order.number</label>
            <input type="text" id="custom-control-purchaseOrderNumber" ng-model="activeControl.options.purchaseOrderNumberModel" data-validate="required" />
         </div>
         <!-- Purchase Order Suffix -->
         <div class="field" title="Reference to the Purchase Order Suffix">
            <label for="custom-control-purchaseOrderSuffix" class="required" translate>global.order.suffix</label>
            <input type="text" id="custom-control-purchaseOrderSuffix" ng-model="activeControl.options.purchaseOrderSuffixModel" data-validate="required" />
         </div>
         <!-- Line Number -->
         <div class="field" title="Reference to the Line Number">
            <label for="custom-control-lineNumber" translate>global.line.number</label>
            <input type="text" id="custom-control-lineNumber" ng-model="activeControl.options.lineNumberModel" data-validate="required" />
         </div>
      </div>
   </div>
</div>