/* Style for WYSIWYG */

.wysiwyg-style {
   margin: auto;
   width: 100%;
   /* Extra space below to make editing controls at bottom easier */
   padding-bottom: 75px;
   /* This position is needed so that the control-toolbar is positioned relative to this view and doesn't scroll with the viewport */
   position: relative;
}

/* Fix for huge, wasted padding above/below control detail modal tabs */
#control-detail-modal .modal-body {
   padding-top: 0;
   padding-bottom: 0;
}

/* WYSIWYG adjustments to more easily see view structure */
.wysiwyg-style .builder-pane, .wysiwyg-style .builder-actions, .wysiwyg-style .builder-sidebar, .wysiwyg-style .builder-sidebar-content, .wysiwyg-style .builder-sidebar-footer, .wysiwyg-style .module-content-header, .wysiwyg-style .modal-body, .wysiwyg-style .container, .wysiwyg-style .row, .wysiwyg-style .columns, .wysiwyg-style .tab-container, .wysiwyg-style .tab-panel, .wysiwyg-style .expandable-area, .wysiwyg-style .expandable-visible-pane, .wysiwyg-style fieldset, .wysiwyg-style .compound-field, .wysiwyg-style .context-field, .wysiwyg-style .custom-control, .wysiwyg-style .directive, .wysiwyg-style .html-control, .wysiwyg-style .sub-view, .wysiwyg-style .view-container {
   border: 1px dotted #999;
   min-height: 60px;
}
.wysiwyg-style .view {
   border: 1px solid #bbb;
   min-height: 60px;
   padding: 24px;
}
.wysiwyg-style form {
   border: 1px dotted #999;
   min-height: 60px;
   padding: 24px;
}
.wysiwyg-style .swaplist {
   border: 1px dotted #999;
   min-height: 393px;
   padding-top: 24px;
}
.wysiwyg-style .field {
   padding-left: 20px;
}
.wysiwyg-style div.message {
   padding-left: 20px;
}
.wysiwyg-style .toolbar {
   border: 1px dotted #999;
   margin-bottom: 0;
   min-height: 50px;
}
.wysiwyg-style .chart-container {
   border: 1px dotted #999;
   border-radius: 10px;
   height: auto;
   width: auto;
   margin: 0 20px 20px 20px;
   padding: 25px 0;
}
.wysiwyg-style .image-container {
   border: 1px dotted #999;
   border-radius: 10px;
   height: 180px;
   margin: 0 20px 20px 20px;
   padding-top: 50px;
   text-align: left;
}
.wysiwyg-style .builder-header .toolbar {
   border: none;
}
.wysiwyg-style .expandable-header {
   padding-left: 20px;
}
.wysiwyg-style fieldset legend {
   padding-left: 20px;
}
.wysiwyg-style .tab-container {
   padding-left: 20px;
}
.wysiwyg-style .datagrid-container {
   margin-bottom: 0;
   /* This position is needed so that the control-toolbars of columns position correctly during horizontal grid scroll */
   position: relative;
}
.wysiwyg-style .builder-pane, .wysiwyg-style .builder-actions, .wysiwyg-style .builder-sidebar, .wysiwyg-style .builder-sidebar-content, .wysiwyg-style .builder-sidebar-footer, .wysiwyg-style .modal-body, .wysiwyg-style .container, .wysiwyg-style .row .columns, .wysiwyg-style .tab-panel, .wysiwyg-style .compound-field {
   padding-top: 24px;
}
.wysiwyg-style .wys-control:hover {
   /*border: 1px solid #999;*/
}
.wysiwyg-style .custom-control, .wysiwyg-style .directive, .wysiwyg-style .html-control, .wysiwyg-style .sub-view, .wysiwyg-style .view-container {
   background: repeating-linear-gradient(45deg, #f3f3f3, #f3f3f3 10px, #ededed 10px, #ededed 20px);
   padding: 20px 20px;
   color: #777777;
   font-size: 14px;
}
.wysiwyg-style .custom-control:not(:last-child), .wysiwyg-style .directive:not(:last-child), .wysiwyg-style .html-control:not(:last-child), .wysiwyg-style .sub-view:not(:last-child), .wysiwyg-style .view-container:not(:last-child) {
   margin-bottom: 20px;
}
.wysiwyg-style .context-field {
   background: repeating-linear-gradient(45deg, #f3f3f3, #f3f3f3 10px, #ededed 10px, #ededed 20px);
   padding: 20px 20px;
   color: #777777;
   font-size: 12px;
   max-width: 320px;
}
.wysiwyg-style .extra {
   background-image: repeating-linear-gradient(135deg, #eeeeee, #eeeeee 10px, #f0f0f0 20px, #f0f0f0 30px);
}
.wysiwyg-style .datagrid-header th.extra {
   background-image: none;
   background-color: #888888;
}
.wysiwyg-style .modal-buttonset button {
   width: 50%;
}
/*.wysiwyg-style .outlined {*/
/*border: 1px dotted #999;*/
/*}*/

/* Control menu/toolbar */
.wysiwyg-style .control-toolbar {
   display: none;
   position: absolute;
   z-index: 100;
}
.wysiwyg-style .wys-control:hover > .control-toolbar:first-child, .wysiwyg-style .grid-body:hover > .control-toolbar:first-child, .wysiwyg-style .field:hover > .control-toolbar {
   display: inline-block;
}
/* If desired for personalize view, we can always show control menu button so it's usable from a mobile device */
/*#personalize-content .control-toolbar {*/
   /*display: inline-block;*/
/*}*/

/* Control toolbars adjustments */
.wysiwyg-style .view > .control-toolbar:first-child, .wysiwyg-style form > .control-toolbar:first-child {
   margin-left: -22px;
   margin-top: -29px;
}
.wysiwyg-style .builder-pane > .control-toolbar:first-child, .wysiwyg-style .builder-actions > .control-toolbar:first-child, .wysiwyg-style .builder-sidebar > .control-toolbar:first-child, .wysiwyg-style .builder-sidebar-content > .control-toolbar:first-child, .wysiwyg-style .builder-sidebar-footer > .control-toolbar:first-child, .wysiwyg-style .modal-body > .control-toolbar:first-child, .wysiwyg-style .container > .control-toolbar:first-child, .wysiwyg-style .tab-panel > .control-toolbar:first-child, .wysiwyg-style .columns > .control-toolbar:first-child, .wysiwyg-style .compound-field > .control-toolbar:first-child {
   margin-left: 3px;
   margin-top: -29px;
}
.wysiwyg-style .module-content-header > .control-toolbar:first-child {
   margin-left: 2px;
   margin-top: -5px;
}
.wysiwyg-style .wizard > .control-toolbar:first-child {
   margin-left: -4px;
   margin-top: 13px;
   transform: rotate(90deg);
}
.wysiwyg-style .tab-container > .control-toolbar:first-child {
   margin-left: -27px;
   margin-top: 4px;
   transform: rotate(90deg);
}
.wysiwyg-style .expandable-visible-pane > .control-toolbar:first-child {
   margin-left: 3px;
   margin-top: -4px;
}
.wysiwyg-style .row > .control-toolbar:first-child {
   margin-left: -8px;
   margin-top: 13px;
   transform: rotate(90deg);
}
.wysiwyg-style .swaplist > .control-toolbar:first-child {
   margin-left: 0;
   margin-top: -27px;
}
.wysiwyg-style .field > .control-toolbar:first-child {
   margin-left: -27px;
   margin-top: 16px;
   transform: rotate(90deg);
}
.wysiwyg-style .field > .control-toolbar.checkbox-toolbar {
   margin-top: -9px;
}
.wysiwyg-style .compound-field .field > .control-toolbar.checkbox-toolbar {
   margin-top: 15px;
}
.wysiwyg-style .radio-option > .control-toolbar:first-child {
   margin-left: -27px;
   margin-top: -5px;
   transform: rotate(90deg);
}
.wysiwyg-style .summary-form > .control-toolbar:first-child {
   margin-left: -27px;
   margin-top: -12px;
   transform: rotate(90deg);
}
.wysiwyg-style .grid-body > .control-toolbar:first-child {
   margin-left: 2px;
   margin-top: 4px;
   transform: rotate(90deg);
}
.wysiwyg-style .grid-body th > .control-toolbar:first-child {
   margin-left: -7px;
   margin-top: 3px;
   transform: rotate(90deg);
}
/* We are purposely not displaying the control toolbar for toolbar nav button set since we only currently support
   back buttons in this container, and to reduce unnecessary complexity in the wysiwyg */
.wysiwyg-style .wys-control.nav-buttonset:hover > .control-toolbar:first-child {
   display: none;
}
.wysiwyg-style .toolbar .title {
   padding-left: 15px;
}
.wysiwyg-style .builder-header .toolbar > .control-toolbar:first-child {
   margin-left: -10px;
   margin-top: 0;
   transform: rotate(90deg);
}
.wysiwyg-style .toolbar > .control-toolbar:first-child {
   margin-left: -14px;
   margin-top: 4px;
   transform: rotate(90deg);
}
.wysiwyg-style .mock-modal > .control-toolbar:first-child {
   margin-left: 5px;
   margin-top: -5px;
}
.wysiwyg-style .modal-buttonset > .control-toolbar:first-child {
   margin-left: -5px;
   margin-top: 3px;
   transform: rotate(90deg);
}
.wysiwyg-style .card > .control-toolbar:first-child {
   margin-left: -7px;
   margin-top: 7px;
   transform: rotate(90deg);
}
.wysiwyg-style .expandable-area > .control-toolbar:first-child {
   margin-left: -8px;
   margin-top: 21px;
   transform: rotate(90deg);
}
.wysiwyg-style fieldset > .control-toolbar:first-child {
   margin-left: -7px;
   margin-top: -49px;
   transform: rotate(90deg);
}
.wysiwyg-style fieldset.radio-group > .control-toolbar:first-child {
   margin-left: -7px;
   margin-top: -28px;
   transform: rotate(90deg);
}
.wysiwyg-style .message > .control-toolbar:first-child {
   margin-left: -27px;
   margin-top: -7px;
   transform: rotate(90deg);
}
.wysiwyg-style .chart-container > .control-toolbar:first-child {
   margin-left: 3px;
   margin-top: -25px;
}
.wysiwyg-style .image-container > .control-toolbar:first-child {
   margin-left: 3px;
   margin-top: -51px;
}
.wysiwyg-style .custom-control > .control-toolbar:first-child, .wysiwyg-style .context-field > .control-toolbar:first-child, .wysiwyg-style .directive > .control-toolbar:first-child, .wysiwyg-style .html-control > .control-toolbar:first-child, .wysiwyg-style .sub-view > .control-toolbar:first-child, .wysiwyg-style .view-container > .control-toolbar:first-child {
   margin-left: -25px;
   margin-top: -8px;
   transform: rotate(90deg);
}

/* WYSIWYG adjustment to better see grid columns */
.wysiwyg-style .datagrid-header th {
   border: 1px solid #bbb;
   width: 150px;
}
.wysiwyg-style .datagrid td {
   width: 150px;
}
.wysiwyg-style .datagrid .dropdown-wrapper {
   margin-bottom: 0;
}
.wysiwyg-style .datagrid .dropdown {
   height: 30px;
}

/* WYSIWYG adjustment for margin of control toolbar buttons inside of compound fields */
.wysiwyg-style .compound-field .control-toolbar button {
   margin-top: auto;
}

/* WYSIWYG adjustment to make sure can see rows (columns in exp areas don't have left margin) */
.wysiwyg-style .expandable-area .columns {
   margin-left: 20px;
}
/* WYSIWYG adjustment to expandable header top padding (they have :first-child but in wysiwyg we have the control menu) */
.wysiwyg-style .expandable-area .expandable-header {
   padding-top: 30px;
}
/* WYSIWYG work around to strange expandable area height issues when views are edited */
.wysiwyg-style .expandable-area .expandable-pane {
   height: auto;
}
/* Need to override display inline from normal style in order to display properly in WYSIWYG */
.wysiwyg-style .view-container {
   display: block;
}

/* Hyperlink trigger icon */
.hyperlink-trigger {
   cursor: pointer;
   display: inline-block;
   height: 34px;
   margin-left: -33px;
   outline: none;
   position: absolute;
   width: 34px;
}
.modal.contextual-action-panel .hyperlink-trigger .icon {
   background-color: inherit;
   fill: #bdbdbd;
   height: 20px;
   pointer-events: none;
   right: 2px;
   top: 8px;
   width: 32px;
}
.modal.contextual-action-panel .hyperlink-trigger.has-link .icon {
   fill: #5c5c5c;
}
.modal.contextual-action-panel .hyperlink-trigger:hover .icon {
   fill: #368ac0;
}

/*.row:hover {*/
/*border: 1px solid #bbbbbb;*/
/*}*/
/*.columns:hover {*/
/*border: 1px solid #bbbbbb;*/
/*}*/
/*.field:hover {*/
/*border: 1px solid #bbbbbb;*/
/*}*/
