<div initialize>
   <div class="row">

      <div class="one-half column">
         <div class="field" title="Reference to the VA Line Model">
            <label for="custom-control-valine" class="required" translate>VA Line Object</label>
            <input type="text" id="custom-control-valine" ng-model="activeControl.options.vaLineModel" data-validate="required"/>
         </div>
         <div class="field">
            <input type="checkbox" id="custom-control-isAddModeFlag" class="checkbox" ng-model="activeControl.options.isAddMode"/>
            <label class="checkbox-label" for="custom-control-isAddModeFlag">Is this instance being called in Add Mode?</label>
         </div>
      </div>
      <div class="one-half column">
         <!-- Control Reference -->
         <div class="field" title="Controller-based reference for where to place the control API after it's ready (i.e. dtl.nonstockDetailsValueAddControl)">
            <label for="custom-control-reference" class="required" translate>global.control.reference</label>
            <input id="custom-control-reference" type="text" ng-model="activeControl.options.controlRef" />
         </div>

         <!-- Ready Event -->
         <div class="field" title="After control has been initialized and the API is ready for use (i.e. dtl.nonstockDetailsValueAddControlReady())">
            <label for="custom-control-event-ready" class="required" translate>global.ready</label>
            <input type="text" id="custom-control-event-ready" ng-model="activeControl.options.eventReady" />
         </div>

         <!-- Done Event -->
         <div class="field" title="After Save as been completed (i.e. dtl.nonstockDetailsValueAddControlDoneCallback())">
            <label for="custom-control-done-callback" translate>global.done.callback</label>
            <input type="text" id="custom-control-done-callback" ng-model="activeControl.options.doneCallback" />
         </div>
      </div>
   </div>
</div>
