<div initialize>
   <div class="row">

      <div class="one-half column">
         <!-- Order Type -->
         <div class="field" title="Order Type (i.e. 'o' for Order Entry)">
            <label for="custom-control-ordertype" class="required" translate>global.order.type</label>
            <input type="text" id="custom-control-ordertype" ng-model="activeControl.options.ordertypeModel" data-validate="required" />
         </div>

         <!-- Order Number -->
         <div class="field" title="Reference to the order number (i.e. dtl.oeel.orderno)">
            <label for="custom-control-orderno" class="required" translate>global.order.number</label>
            <input type="text" id="custom-control-orderno" ng-model="activeControl.options.ordernoModel" data-validate="required" />
         </div>

         <!-- Order Suffix -->
         <div class="field" title="Reference to the order suffix (i.e. dtl.oeel.ordersuf)">
            <label for="custom-control-ordersuf" class="required" translate>global.order.suffix</label>
            <input type="text" id="custom-control-ordersuf" ng-model="activeControl.options.ordersufModel" data-validate="required" />
         </div>
      </div>

      <div class="one-half column">
         <!-- Line # -->
         <div class="field" title="Reference to the line number (i.e. dtl.oeel.lineno)">
            <label for="custom-control-lineno" class="required" translate>global.line.number</label>
            <input type="text" id="custom-control-lineno" ng-model="activeControl.options.linenoModel" data-validate="required" />
         </div>

         <!-- Sequence # -->
         <div class="field" title="Reference to the sequence (optional)">
            <label for="custom-control-seqno" translate>global.sequence.number</label>
            <input type="text" id="custom-control-seqno" ng-model="activeControl.options.seqnoModel" />
         </div>
      </div>

   </div>

</div>
