<div initialize>
   <div class="row">
      <div class="one-third column">
         <!-- Control Reference -->
         <div class="field" title="Controller-based reference for where to place the control API after it's ready (i.e. mst.advancedSearchControl)">
            <label for="custom-control-reference" translate>global.control.reference</label>
            <input id="custom-control-reference" type="text" ng-model="activeControl.options.controlRef" />
         </div>

         <!-- Ready Event -->
         <div class="field" title="After control has been initialized and the API is ready for use (i.e. mst.advancedSearchControlReady())">
            <label for="custom-control-event-ready" translate>global.ready</label>
            <input type="text" id="custom-control-event-ready" ng-model="activeControl.options.eventReady" />
         </div>

         <!-- Criteria View -->
         <div class="field" title="File path for this function's advanced criteria view to include (i.e. oe/oeio/advanced-criteria.json)">
            <label for="custom-control-criteria-view" class="required">Criteria View</label>
            <input type="text" id="custom-control-criteria-view" ng-model="activeControl.options.criteriaView" data-validate="required" />
         </div>
      </div>

      <div class="one-third column">
         <!-- Criteria Object -->
         <div class="field" title="Reference to advanced criteria object (which contains default criteria values)">
            <label for="custom-control-criteria" class="required">Criteria Object</label>
            <input type="text" id="custom-control-criteria" ng-model="activeControl.options.criteria" data-validate="required" />
         </div>

         <!-- Available Criteria List -->
         <div class="field" title="Reference to available criteria list, which is an array of objects with labels and values">
            <label for="custom-control-criteria-list" class="required">Available Criteria List</label>
            <input type="text" id="custom-control-criteria-list" ng-model="activeControl.options.criteriaList" data-validate="required" />
         </div>

         <!-- Default Selected Criteria List -->
         <div class="field" title="Reference to default selected criteria, which is an array of strings matching the values of the available list">
            <label for="custom-control-default-selected-criteria" class="required">Default Selected Criteria List</label>
            <input type="text" id="custom-control-default-selected-criteria" ng-model="activeControl.options.defaultSelectedCriteria" data-validate="required" />
         </div>

         <!-- Search Function -->
         <div class="field" title="Reference to search function to call when performing a search (i.e. mst.search)">
            <label for="custom-control-search-fn" class="required">Search Function</label>
            <input type="text" id="custom-control-search-fn" ng-model="activeControl.options.searchFunction" data-validate="required" />
         </div>

         <!-- Clear Function -->
         <div class="field" title="Reference to clear function to call after the normal clear has executed (i.e. mst.clear)">
            <label for="custom-control-clear-fn">Clear Function</label>
            <input type="text" id="custom-control-clear-fn" ng-model="activeControl.options.clearFunction" />
         </div>
      </div>

      <div class="one-third column">
         <p class="message">
            Note: In order to get your criteria fields to show/hide properly, they all need to have
            a Visible Condition of <b>advsrch.isSelected('custno')</b> where 'custno' matches with the value in the
            Available Criteria List.
         </p>
      </div>
   </div>
</div>
