<div class="wizard" initialize>
   <div class="wizard-header">
      <div class="bar">
         <div class="completed-range"></div>
         <a wizard-tick
            href=""
            class="tick"
            is-disabled="base.getStage() > 1"
            is-current="base.getStage() === 1">
            <span class="label" translate>global.initiate</span>
         </a>
         <a wizard-tick
            href=""
            class="tick"
            is-disabled="base.getStage() === 1"
            is-current="base.getStage() === 2"
            ng-click="sw.selectProducts()">
            <span class="label" translate>global.select.products</span>
         </a>
         <a wizard-tick
            href=""
            class="tick"
            is-disabled="base.getStage() === 1"
            is-current="base.getStage() === 3"
            ng-click="sw.reviewAndTotals()">
            <span class="label" translate>global.review.and.totals</span>
         </a>
      </div>
   </div>
</div>