<div initialize>
   <div class="row">
      <div class="one-third column">
         <!-- Control Reference -->
         <div class="field" title="Controller-based reference for where to place the control API after it's ready (i.e. dtl.serialControl)">
            <label for="custom-control-reference" class="required" translate>global.control.reference</label>
            <input id="custom-control-reference" type="text" ng-model="activeControl.options.controlRef" />
         </div>

         <!-- Ready Event -->
         <div class="field" title="After control has been initialized and the API is ready for use (i.e. dtl.serialControlReady())">
            <label for="custom-control-event-ready" class="required" translate>global.ready</label>
            <input type="text" id="custom-control-event-ready" ng-model="activeControl.options.eventReady" />
         </div>

         <!-- Done Event -->
         <div class="field" title="After control has been initialized and the API is ready for use (i.e. dtl.serialControlReady())">
            <label for="custom-control-done-callback" translate>global.done.callback</label>
            <input type="text" id="custom-control-done-callback" ng-model="activeControl.options.doneCallback" />
         </div>

         <!-- ConditionReadonly -->
         <div class="field" title="Offers control over the ReadOnly setting.  (i.e. base.isReadOnly() will get the value from the parent this control resides on.)">
            <label for="custom-control-condition-readonly">Readonly Condition</label>
            <input type="text" id="custom-control-condition-readonly" ng-model="activeControl.options.conditionReadonly" />
         </div>
      </div>
      <div class="one-third column">
         <!-- Short How To -->
         <p translate>message.serials.lots.control.instructions.part.1</p>
         <p translate>message.serials.lots.control.instructions.part.2</p>
         <p translate>message.serials.lots.control.instructions.part.3</p>
         <p translate>message.serials.lots.control.instructions.part.4</p>
      </div>
   </div>
</div>
