<div initialize>
   <div class="row">
      <div class="one-third column">
         <!-- Address1 -->
         <div class="field">
            <label for="custom-control-addr1-model">Address 1 Model</label>
            <input type="text" id="custom-control-addr1-model" ng-model="activeControl.options.addr1Model" />
         </div>

         <!-- Address2 -->
         <div class="field">
            <label for="custom-control-addr2-model">Address 2 Model</label>
            <input type="text" id="custom-control-addr2-model" ng-model="activeControl.options.addr2Model" />
         </div>

         <!-- Address3 -->
         <div class="field">
            <label for="custom-control-addr3-model">Address 3 Model</label>
            <input type="text" id="custom-control-addr3-model" ng-model="activeControl.options.addr3Model" />
         </div>

         <!-- City -->
         <div class="field">
            <label for="custom-control-city-model">City Model</label>
            <input type="text" id="custom-control-city-model" ng-model="activeControl.options.cityModel" />
         </div>

         <!-- State -->
         <div class="field">
            <label for="custom-control-state-model">State Model</label>
            <input type="text" id="custom-control-state-model" ng-model="activeControl.options.stateModel" />
         </div>

         <!-- ZipCode -->
         <div class="field">
            <label for="custom-control-zipcd-model">Zip Code Model</label>
            <input type="text" id="custom-control-zipcd-model" ng-model="activeControl.options.zipCodeModel" />
         </div>
      </div>

      <div class="one-third column">
         <!-- Country Code -->
         <div class="field">
            <label for="custom-control-countrycd-model">Country Code Model</label>
            <input type="text" id="custom-control-countrycd-model" ng-model="activeControl.options.countryCodeModel" />
         </div>

         <!-- GEO Code -->
         <div class="field">
            <label for="custom-control-geocd-model">Geo Code Model</label>
            <input type="text" id="custom-control-geocd-model" ng-model="activeControl.options.geoCodeModel" />
         </div>

         <!-- Out Of City Flag -->
         <div class="field">
            <label for="custom-control-geocd-model">Out Of City Flag Model</label>
            <input type="text" id="custom-control-outofcityfl-model" ng-model="activeControl.options.outOfCityFlagModel"/>
         </div>

         <!-- Function Name -->
         <div class="field" title="This is optional, but used in places where we need to do some custom work for a particular function (i.e. tiatc)">
            <label for="custom-control-functionname">Function Name</label>
            <input type="text" id="custom-control-functionname" ng-model="activeControl.options.functionName" />
         </div>

      </div>

      <div class="one-third column">
         <!-- Address Label -->
         <div class="field">
            <label for="custom-control-address-label">Address Label</label>
            <input type="text" id="custom-control-address-label" ng-model="activeControl.options.addressLabel" i18n-autocomplete />
         </div>

         <!-- GeoCodeLookupCriteria Function -->
         <div class="field" title="References the function in your calling controller to get criteria for the GEO Code Lookup. (i.e. dtl.getGeoCodeLookupCriteria).  This is required if you include the GeoCode on your implementation.  NOTE:  Don't include the () when you reference the name.">
            <label for="custom-control-geocodelookupcriteria-function">Geo Code Lookup Criteria Function</label>
            <input type="text" id="custom-control-geocodelookupcriteria-function" ng-model="activeControl.options.geoCodeLookupCriteriaFunction" />
         </div>

         <!-- ZipCodeChange Function -->
         <div class="field" title="References the function in your calling controller when the ZipCode Changes. (i.e. dtl.zipCodeChanged). This is not common; not many functions need to trap this condition.  NOTE:  Don't include the () when you reference the name.">
            <label for="custom-control-zipcodechanged-function">Zip Code Changed Function</label>
            <input type="text" id="custom-control-zipcodechanged-function" ng-model="activeControl.options.zipCodeChangedFunction" />
         </div>

         <!-- ConditionReadonly -->
         <div class="field" title="Offers control over the ReadOnly setting.  (i.e. base.isReadOnly() will get the value from the parent this control resides on.)">
            <label for="custom-control-condition-readonly">Readonly Condition</label>
            <input type="text" id="custom-control-condition-readonly" ng-model="activeControl.options.conditionReadonly" />
         </div>

         <!-- CountryCd Visible -->
         <div class="field">
            <input type="checkbox" id="custom-control-countrycd-visible" class="checkbox" ng-model="activeControl.options.countryCdVisible" />
            <label class="checkbox-label" for="custom-control-countrycd-visible">Country Visible</label>
         </div>

         <!-- GeoCode Visible -->
         <div class="field">
            <input type="checkbox" id="custom-control-geocd-visible" class="checkbox" ng-model="activeControl.options.geoCodeVisible" />
            <label class="checkbox-label" for="custom-control-geocd-visible">Geo Code Visible</label>
         </div>

         <!-- OutOfCity Visible -->
         <div class="field">
            <input type="checkbox" id="custom-control-outofcity-visible" class="checkbox" ng-model="activeControl.options.outOfCityVisible" />
            <label class="checkbox-label" for="custom-control-outofcity-visible">Out Of City Visible</label>
         </div>

         <!-- Address2 Visible -->
         <div class="field">
            <input type="checkbox" id="custom-control-addr2-visible" class="checkbox" ng-model="activeControl.options.addr2Visible" />
            <label class="checkbox-label" for="custom-control-addr2-visible">Address2 Visible</label>
         </div>

         <!-- Address3 Visible -->
         <div class="field">
            <input type="checkbox" id="custom-control-addr3-visible" class="checkbox" ng-model="activeControl.options.addr3Visible" />
            <label class="checkbox-label" for="custom-control-addr3-visible">Address3 Visible</label>
         </div>

         <!-- Use Expanded Address -->
         <div class="field">
            <input type="checkbox" id="custom-control-use-expanded-addr" class="checkbox" ng-model="activeControl.options.useExpandedAddr" />
            <label class="checkbox-label" for="custom-control-use-expanded-addr">Use Expanded Address</label>
         </div>

         <!-- City Required -->
         <div class="field">
            <input type="checkbox" id="custom-control-city-required" class="checkbox" ng-model="activeControl.options.cityRequired" />
            <label class="checkbox-label" for="custom-control-city-required">City Required</label>
         </div>

         <!-- Zip Code Required -->
         <div class="field">
            <input type="checkbox" id="custom-control-zipcd-required" class="checkbox" ng-model="activeControl.options.zipcdRequired" />
            <label class="checkbox-label" for="custom-control-zipcd-required">Zip Code Required</label>
         </div>

         <!-- Control Reference -->
         <div class="field" title="Use this to define the name of this control and how it can be referenced from the calling controller (i.e. dtl.addressControl).  Required for the GeoCode validation and logic.">
            <label class="required" for="custom-control-reference">Control Reference</label>
            <input id="custom-control-reference" type="text" ng-model="activeControl.options.controlRef" />
         </div>

         <!-- Ready Event -->
         <div class="field" title="Define this if you need to have access to the control when it has been initialized. (i.e. dtl.addressControlReady()).  This is not commonly used.">
            <label for="custom-control-event-ready">Ready</label>
            <input type="text" id="custom-control-event-ready" ng-model="activeControl.options.eventReady" />
         </div>

      </div>

   </div>

</div>
