<div initialize>

   <div class="row">
      <div class="one-third column">

         <!-- ARSC model reference -->
         <div class="field" title="Reference to arsc record (if parent function already fetched it)">
            <label for="custom-control-arsc-model">ARSC Model Reference</label>
            <input type="text" id="custom-control-arsc-model" ng-model="activeControl.options.arscModel" />
         </div>

         <!-- Get custno function -->
         <div class="field" title="Reference to a function that can asynchronously provide the custno via a callback function (i.e. dtl.getCustnoForCustomerTab)">
            <label for="custom-control-custno-fn">Get Custno Function</label>
            <input type="text" id="custom-control-custno-fn" ng-model="activeControl.options.custnoFunction" />
         </div>

         <!-- Get custno function -->
         <div class="field" title="Reference to a function that can asynchronously provide the arsc via a callback function (i.e. dtl.getCustomerForCustomerTab)">
            <label for="custom-control-custno-fn">Get Customer Function</label>
            <input type="text" id="custom-control-arsc-fn" ng-model="activeControl.options.arscFunction" />
         </div>

         <!-- Get shipto function -->
         <div class="field" title="Reference to a function that can asynchronously provide the shipto via a callback function (i.e. dtl.getShitoForCustomerTab)">
            <label for="custom-control-shipto-fn">Get Shipto Function</label>
            <input type="text" id="custom-control-shipto-fn" ng-model="activeControl.options.shiptoFunction" />
         </div>

         <!-- Get groupid model -->
         <div class="field" title="Reference to a groupid model">
            <label for="custom-control-groupid-model">Groupid Reference</label>
            <input type="text" id="custom-control-groupid-model" ng-model="activeControl.options.groupidModel" />
         </div>
      </div>

      <div class="one-third column">
         <ul>
            <li>
               Choose the 1st option if your parent controller already fetches the arsc record. Otherwise
            </li>
            <li>
               Choose the 2nd option and implement a function that sends the custno via a callback function.
            </li>
            <li>
               Choose the 3rd option and implement a function that sends the customer via a callback function.
            </li>
            <li>
               Choose the 4th option and implement a function that sends the shipto via a callback function.
            </li>
            <li>
               Choose the 5th option that sends the groupid value (Give only if groupid available in your active view).
            </li>
         </ul>
      </div>
   </div>
</div>
