<div initialize>
   <div class="row">
      <div class="one-third column">
         <!-- Kit Control Type -->
         <label for="custom-control-type" class="required" translate>global.control.type</label>
         <div class="field" title="The type of Kit Control to implement (must be either OEET or OEES)">
            <select id="custom-control-type"
                    class="dropdown"
                    ng-model="activeControl.options.controlType"
                    dropdown>
               <option translate>title.oeet</option>
               <option translate>title.oees</option>
               <option translate>title.kpew</option>
            </select>
         </div>
      </div>

      <div class="one-third column">
         <!-- Base State -->
         <div class="field" title="String reference for the base state of the calling function (i.e. 'oeet')">
            <label for="custom-control-base-state" class="required" translate>global.base.state</label>
            <input id="custom-control-base-state" type="text" ng-model="activeControl.options.baseState" />
         </div>

         <!-- Header Object -->
         <div class="field" title="Reference to the header object (must be either an 'oehdr' object, for OEET, or a 'oeesdetailhdrsingle' object, for OEES)">
            <label for="custom-control-header" class="required" translate>global.header.object</label>
            <input type="text" id="custom-control-header" ng-model="activeControl.options.headerRef" />
         </div>

         <!-- Line Object -->
         <div class="field" title="Reference to the line object (must be either an 'oeline' object, for OEET, or a 'oeesdetaillinesingle' object, for OEES)">
            <label for="custom-control-line" class="required" translate>global.line.object</label>
            <input type="text" id="custom-control-line" ng-model="activeControl.options.lineRef" />
         </div>
      </div>

      <div class="one-third column">
         <!-- Component Sourcing Header Reference -->
         <div class="field" title="Reference to the component sourcing tie header object (only required for OEET implementation)">
            <label for="custom-control-reference-sourcing-header" translate>global.component.sourcing.header</label>
            <input type="text" id="custom-control-reference-sourcing-header" ng-model="activeControl.options.sourcingHeaderRef" />
         </div>

         <!-- Component Sourcing Collection Reference -->
         <div class="field" title="Reference to the component sourcing tie collection object (only required for OEET implementation)">
            <label for="custom-control-reference-sourcing-collection" translate>global.component.sourcing.collection</label>
            <input type="text" id="custom-control-reference-sourcing-collection" ng-model="activeControl.options.sourcingCollectionRef" />
         </div>

         <!-- Component Sourcing Limit Ship Via -->
         <div class="field" title="Reference to boolean for limiting ship via in component sourcing (only required for OEET implementation)">
            <label for="custom-control-limit-ship-via" translate>global.limit.ship.via</label>
            <input type="text" id="custom-control-limit-ship-via" ng-model="activeControl.options.limitShipVia" />
         </div>

         <!-- Line Entry Mode -->
         <div class="field" title="The mode of entry for the line currently being worked on (only required for OEET implementation)">
            <label for="custom-control-line-entry-mode" translate>global.line.entry.mode</label>
            <input type="text" id="custom-control-line-entry-mode" ng-model="activeControl.options.lineEntryMode" />
         </div>
      </div>
   </div>
</div>