<div style="width: 1180px; height: 450px; max-height: 500px; overflow-y: auto;" initialize>

   <!-- Tabs -->
   <div class="tab-container">
      <ul class="tab-list">
         <li class="tab"><a href="#control-tab-general">General</a></li>
         <li class="tab"><a href="#control-tab-attributes">Attributes</a></li>
         <li class="tab"><a href="#control-tab-events">Events</a></li>
         <li class="tab" ng-if="isType(['FIELD', 'CONTEXT_FIELD'])"><a href="#control-tab-context">Context</a></li>
         <li class="tab"><a href="#control-tab-advanced">Advanced</a></li>
      </ul>

      <!-- General -->
      <div id="control-tab-general" class="tab-panel">

         <!-- Shared General Options -->
         <div include-view="'/ui/app/common/json-view/wysiwyg/views/tabs/general.html'" data-type="HTML" data-lazy-load="true" ng-if="!isType(['SUB_VIEW', 'CUSTOM', 'HTML_CONTROL'])"></div>

         <!-- Sub View Options -->
         <div include-view="'/ui/app/common/json-view/wysiwyg/views/sub-view-options.html'" data-type="HTML" data-lazy-load="true" ng-if="isType(['SUB_VIEW'])"></div>

         <!-- Custom Control Options -->
         <div include-view="customOptionsView" data-type="HTML" data-lazy-load="true" ng-if="isType(['CUSTOM'])"></div>

         <!-- HTML Control Options -->
         <div include-view="'/ui/app/common/json-view/wysiwyg/views/html-control-options.html'" data-type="HTML" data-lazy-load="true" ng-if="isType(['HTML_CONTROL'])"></div>
      </div>

      <!-- Attributes -->
      <div id="control-tab-attributes" class="tab-panel">
         <div include-view="'/ui/app/common/json-view/wysiwyg/views/tabs/attributes.html'" data-type="HTML" data-lazy-load="true"></div>
      </div>

      <!-- Events -->
      <div id="control-tab-events" class="tab-panel">
         <div include-view="'/ui/app/common/json-view/wysiwyg/views/tabs/events.html'" data-type="HTML" data-lazy-load="true"></div>
      </div>

      <!-- Context -->
      <div id="control-tab-context" class="tab-panel" ng-if="isType(['FIELD', 'CONTEXT_FIELD'])">
         <div include-view="'/ui/app/common/json-view/wysiwyg/views/tabs/context.html'" data-type="HTML" data-lazy-load="true"></div>
      </div>

      <!-- Advanced -->
      <div id="control-tab-advanced" class="tab-panel">
         <div include-view="'/ui/app/common/json-view/wysiwyg/views/tabs/advanced.html'" data-type="HTML" data-lazy-load="true"></div>
      </div>
   </div>

</div>
