<div class="contextual-action-panel" ng-controller="WysiwygHotKeyOptionsCtrl as whko" initialize>
   <div class="modal-content">
      <div class="modal-header">
         <div class="toolbar">
            <div class="title" translate>Hot Keys</div>
            <div class="buttonset">
               <button class="btn" type="button" ng-click="whko.submit()">
                  <svg class="icon" focusable="false" aria-hidden="true" role="presentation"><use xlink:href="#icon-confirm"></use></svg>
                  <span translate>global.ok</span>
               </button>
               <button class="btn" type="button" ng-click="whko.cancel()">
                  <svg class="icon" focusable="false" aria-hidden="true" role="presentation"><use xlink:href="#icon-cancel"></use></svg>
                  <span translate>global.cancel</span>
               </button>
            </div>
         </div>
      </div>

      <div class="modal-body-wrapper">
         <div class="modal-body">
            <div class="row">
               <div class="twelve columns">

                  <!-- Grid -->
                  <div class="grid-container">
                     <div class="toolbar" data-options="{maxVisibleButtons: 50, favorButtonset: false}">
                        <div class="title"><span translate>Hot Keys</span> <span class="datagrid-result-count"></span></div>
                        <div class="buttonset">
                           <button type="button" class="btn" ng-click="whko.addHotKey()" ng-disabled="whko.grid.isAnyRowSelected()">
                              <svg class="icon"><use xlink:href="#icon-new-document"></use></svg>
                              <span translate>global.add</span>
                           </button>
                           <button type="button" class="btn" ng-click="whko.deleteHotKey()" ng-disabled="whko.grid.isNoRowSelected()">
                              <svg class="icon"><use xlink:href="#icon-delete"></use></svg>
                              <span translate>global.delete</span>
                           </button>
                        </div>
                     </div>
                     <div data-grid class="grid-body datagrid-contained" data-init="false"
                          data-control-ref="whko.grid" data-model="whko.dataset"
                          data-options='{"editable":true,"showCheckboxes":true,"selectable":"single","paging":false,"showSearchField":false,"columns":[{"id":"altKey","field":"altKey","name":"Alt","type":"CHECKBOX","editable":true,"width":100},{"id":"ctrlKey","field":"ctrlKey","name":"Ctrl","type":"CHECKBOX","editable":true,"width":100},{"id":"shiftKey","field":"shiftKey","name":"Shift","type":"CHECKBOX","editable":true,"width":100},{"id":"keyCode","field":"keyCode","name":"Key","type":"DROP_DOWN","editable":true,"optionsType":"MANUAL","optionsModel":"whko.keyOptions","optionLabelField":"label","optionValueField":"value","blankOption":false,"width":100},{"id":"action","field":"action","name":"Action","type":"TEXT","editable":true,"width":300}]}'>
                     </div>
                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>
</div>