<div id="hyperlink-options" class="row" style="width: 650px;" initialize>
   <div class="one-half column">
      <!-- Navigate to State -->
      <div class="field" title="State to navigate to - i.e. ^.master or icsw.detail({pk: dtl.icswb.prod, pk2: dtl.icswb.whse}). This uses the ui-sref directive of the Angular UI Router. You can enter any value that ui-sref can handle.">
         <label for="hyperlink-state-ref" translate>Navigate to State</label>
         <input type="text" id="hyperlink-state-ref" ng-model="link.stateRef" placeholder="i.e. arsc.detail({pk: dtl.record.custno})" />
      </div>

      <!-- Click -->
      <div class="field">
         <label for="hyperlink-event-click" translate>Click (function call)</label>
         <input type="text" id="hyperlink-event-click" ng-model="link.eventClick" />
      </div>

      <!-- Href -->
      <div class="field">
         <label for="hyperlink-href" translate>Href (not recommended)</label>
         <input type="text" id="hyperlink-href" ng-model="link.href" disabled="disabled" />
      </div>
   </div>
</div>
