<div id="icon-options" style="width: 1000px; padding-left: 20px; padding-right: 20px;" initialize>

   <div>
      <h4>Standard</h4>

      <button class="btn-icon" title="{{::icon.label}}" ng-repeat="icon in ::iconSet" ng-click="selectIcon(icon.value)">
         <svg class="icon" focusable="false" role="presentation">
            <use xlink:href="{{::'#' + icon.value}}"></use>
         </svg>
         <span></span>
      </button>
   </div>

   <div style="padding-top: 20px;">
      <h4>Extended</h4>

      <button class="btn-icon" title="{{::icon.label}}" ng-repeat="icon in ::iconSetExtended" ng-click="selectIcon(icon.value)">
         <svg class="icon" focusable="false" role="presentation">
            <use xlink:href="{{::'#' + icon.value}}"></use>
         </svg>
         <span></span>
      </button>
   </div>

</div>
