<div id="sub-view-options" initialize>
   <div class="row">
      <div class="one-third column">
         <!-- View Type -->
         <div class="field">
            <label for="sub-view-type" class="label required" translate>View Type</label>
            <select id="sub-view-type" class="dropdown" ng-model="activeControl.subType" data-validate="required">
               <option value="JSON">JSON</option>
               <option value="HTML">HTML (special cases only)</option>
            </select>
         </div>

         <!-- View Path / Extension ID -->
         <div class="field" title="File path of the view (i.e. ar/arsc/tabs/ordering.json), or Extension ID of the extension view (i.e. extension-my-view).">
            <label for="sub-view-options-path" class="required"><span translate>wysiwyg.view.path</span><span ng-hide="isDevMode"> / {{'global.extension.id' | translate}}</span></label>
            <input type="text" id="sub-view-options-path" ng-model="activeControl.viewPath" data-validate="required" />
         </div>

         <!-- Controller -->
         <div class="field" title="Controller for the view (i.e. ArscDetailOrderingCtrl as ord).">
            <label for="sub-view-options-controller" translate>Controller</label>
            <input type="text" id="sub-view-options-controller" ng-model="activeControl.controller" />
         </div>
      </div>
   </div>
</div>
