<div initialize>
   <div class="row">

      <div class="one-half column">
         <!-- Type -->
         <div class="field">
            <label for="custom-control-typeDescription-model" translate>Type</label>
            <div class="field">
               <select id="custom-control-typeDescription-model"
                       class="dropdown dropdown"
                       ng-model="activeControl.options.typeDescriptionModel" dropdown>
                  <option>Order Entry</option>
                  <option>Purchase Order</option>
               </select>
            </div>
         </div>
         <!-- Record Transaction ID -->
         <div class="field" title="Record Transaction ID">
            <label for="custom-control-id" class="required">Record Transaction ID</label>
            <input type="text" id="custom-control-id" ng-model="activeControl.options.idModel" data-validate="required" />
         </div>
         <!-- Line Number -->
         <div class="field" title="Reference to the Line Number">
            <label for="custom-control-lineNumber" class="required">Line Number</label>
            <input type="text" id="custom-control-lineNumber" ng-model="activeControl.options.lineNumberModel" data-validate="required" />
         </div>        
         <!-- Line Sequence Number -->
         <div class="field" title="Reference to the Line Sequence Number">
            <label for="custom-control-lineSequenceNumber" class="required" translate>Sequence Number</label>
            <input type="text" id="custom-control-lineSequenceNumber" ng-model="activeControl.options.lineSequenceNumberModel" data-validate="required" />
         </div>
      </div>   
   </div>
</div>
