<div initialize>
   <div class="row">

      <div class="one-third column">
         <!-- Function Name -->
         <div class="field" title="Reference function that is calling the Tally Control">
            <label for="custom-control-functionName-model" class="required">Function Name</label>
            <div class="field">
               <select id="custom-control-functionName-model"
                       class="dropdown dropdown"
                       ng-model="activeControl.options.functionNameModel"
                       dropdown>
                  <option>oeet</option>
                  <option>oeio</option>
                  <option>oees</option>
               </select>
            </div>
         </div>

         <!-- Save Callback Function -->
         <div class="field" title="Reference to the Save Callback function sitting on the Parent (Only used when we need to do this, leave it blank otherwise.)">
            <label for="custom-control-saveCallback">Save Callback Function on Parent</label>
            <input type="text" id="custom-control-saveCallback" ng-model="activeControl.options.saveCallbackModel"/>
         </div>

         <!-- Inquiry Mode Flag -->
         <div class="field" title="Set this if this control is Inquiry Mode.">
            <input type="checkbox" id="custom-control-inquirymode" class="checkbox" ng-model="activeControl.options.inquiryModeModel" />
            <label class="checkbox-label" for="custom-control-inquirymode">Inquiry Mode?</label>
         </div>
      </div>

      <div class="one-third column">
         <!-- Order Number -->
         <div class="field" title="Reference to the Order Number">
            <label for="custom-control-orderNumber" class="required" translate>global.order.number</label>
            <input type="text" id="custom-control-orderNumber" ng-model="activeControl.options.orderNumberModel" data-validate="required"/>
         </div>
         <!-- Order Suffix -->
         <div class="field" title="Reference to the Order Suffix">
            <label for="custom-control-orderSuffix" class="required" translate>global.order.suffix</label>
            <input type="text" id="custom-control-orderSuffix" ng-model="activeControl.options.orderSuffixModel" data-validate="required"/>
         </div>
         <!-- Customer -->
         <div class="field" title="Reference to the Customer">
            <label for="custom-control-customer" class="required" translate>global.customer</label>
            <input type="text" id="custom-control-customer" ng-model="activeControl.options.customerModel" data-validate="required" />
         </div>
         <!-- Ship To -->
         <div class="field" title="Reference to the Ship To">
            <label for="custom-control-shipto" class="required" translate>global.ship.to</label>
            <input type="text" id="custom-control-shipto" ng-model="activeControl.options.shipToModel" data-validate="required" />
         </div>
         <!-- Warehouse -->
         <div class="field" title="Reference to the Warehouse">
            <label for="custom-control-whse" class="required" translate>global.warehouse</label>
            <input type="text" id="custom-control-whse" ng-model="activeControl.options.warehouseModel" data-validate="required"/>
         </div>
      </div>

      <div class="one-third column">
         <!-- Line Number -->
         <div class="field" title="Reference to the Line Number">
            <label for="custom-control-lineNumber" class="required" translate>global.line.number</label>
            <input type="text" id="custom-control-lineNumber" ng-model="activeControl.options.lineNumberModel" data-validate="required" />
         </div>
         <!-- Product -->
         <div class="field" title="Reference to the Product">
            <label for="custom-control-product" class="required" translate>global.product</label>
            <input type="text" id="custom-control-product" ng-model="activeControl.options.productModel" data-validate="required" />
         </div>
         <!-- Unit -->
         <div class="field" title="Reference to the Unit">
            <label for="custom-control-unit" class="required" translate>global.unit</label>
            <input type="text" id="custom-control-unit" ng-model="activeControl.options.unitModel" data-validate="required"/>
         </div>
         <!-- Quantity Ordered-->
         <div class="field" title="Reference to the Quantity Ordered">
            <label for="custom-control-quantityOrdered" class="required" translate>global.quantity.ordered</label>
            <input type="text" id="custom-control-quantityOrdered" ng-model="activeControl.options.quantityOrderedModel" data-validate="required"/>
         </div>
         <!-- SecurityLevel -->
         <div class="field" title="Reference to the Security Level (i.e. An integer representing 0-5)">
            <label for="custom-control-menuSecurity" class="required" translate>global.function.security</label>
            <input type="text" id="custom-control-menuSecurity" ng-model="activeControl.options.menuSecurityModel" data-validate="required"/>
         </div>
      </div>
   </div>
</div>