<div initialize>
   <div class="row">
      <div class="one-third column">
         <!-- Calculated Cost Callback -->
         <div class="field" title="Controller-based reference for callback when cost changes (i.e. dtl.costChangedCallback())">
            <label for="custom-control-calccostcallback" class="required" translate>global.calculated.cost.callback</label>
            <input type="text" id="custom-control-calccostcallback" ng-model="activeControl.options.calcCostCallback" data-validate="required" />
         </div>
      </div>

      <div class="one-third column">
         <!-- Calculator Mode -->
         <div class="field">
            <label for="custom-control-calcmode-model" translate>global.mode</label>
            <div class="field">
               <select id="custom-control-calcmode-model"
                       class="dropdown dropdown-sm"
                       ng-model="activeControl.options.calcModeModel"
                       dropdown>
                  <option translate>global.order.entry</option>
                  <option translate>global.purchase.order</option>
               </select>
            </div>
         </div>
         
         <!-- Calculated Cost -->
         <div class="field">
            <label for="custom-control-calccost-model" translate>global.calculated.cost</label>
            <input type="text" id="custom-control-calccost-model" ng-model="activeControl.options.calcCostModel" />
         </div>

         <!-- Vendor Number -->
         <div class="field">
            <label for="custom-control-vendno-model" translate>global.vendor.number</label>
            <input type="text" id="custom-control-vendno-model" ng-model="activeControl.options.vendorNumberModel"/>
         </div>

         <!-- Vendor Name -->
         <div class="field">
            <label for="custom-control-vendorname-model" translate>global.vendor.name</label>
            <input type="text" id="custom-control-vendorname-model" ng-model="activeControl.options.vendorNameModel"/>
         </div>
      </div>

      <div class="one-third column">
         <!-- Product Cost -->
         <div class="field">
            <label for="custom-control-prodcost-model" translate>global.product.cost</label>
            <input type="text" id="custom-control-prodcost-model" ng-model="activeControl.options.productCostModel" />
         </div>

         <!-- Exchange Rate -->
         <div class="field">
            <label for="custom-control-exchangerate-model" translate>global.exchange.rate</label>
            <input type="text" id="custom-control-exchangerate-model" ng-model="activeControl.options.exchangeRateModel" />
         </div>

         <!-- Currency Code -->
         <div class="field">
            <label for="custom-control-currencycode-model" translate>global.currency.code</label>
            <input type="text" id="custom-control-currencycode-model" ng-model="activeControl.options.currencyCodeModel" />
         </div>
      </div>

   </div>

</div>
