<div initialize>
   <div class="row">

      <div class="one-third column">
         <!-- Mode -->
         <div class="field">
            <label for="custom-control-mode-model" translate>global.mode</label>
            <div class="field">
               <select id="custom-control-mode-model"
                       class="dropdown dropdown"
                       ng-model="activeControl.options.modeModel"
                       dropdown>
                  <option>Inquiry Only</option>
                  <option>Inquiry and Edit</option>
                  <option>Inquiry, Edit, and Add</option>
                  <option>Inquiry, Edit, Add, and Delete</option>
               </select>
            </div>
         </div>
         <!-- Results (If Built Outside) -->
         <div class="field" title="Results Collection (Not used in most cases.  Use this only when the parent builds the collection of ties.)">
            <label for="custom-control-resultsCollection">Results Collection</label>
            <input type="text" id="custom-control-resultsCollection" ng-model="activeControl.options.resultsCollection" data-validate="required"/>
         </div>
         <!-- Control Reference -->
         <div class="field" title="Use this to define the name of this control and how it can be referenced from the calling controller (i.e. aleTie.tiesControl). Required if logic needs to happen on Save.">
            <label class="required" for="custom-control-reference">Control Reference</label>
            <input id="custom-control-reference" type="text" ng-model="activeControl.options.controlRef" />
         </div>
      </div>

      <div class="one-third column">
         <!-- Tie Type -->
         <div class="field">
            <label for="custom-control-tieType-model" translate>global.tie.type</label>
            <div class="field">
               <select id="custom-control-tieType-model"
                       class="dropdown dropdown"
                       ng-model="activeControl.options.tieTypeModel"
                       dropdown>
                  <option>Order Entry</option>
                  <option>Purchase Order</option>
                  <option>Value Add</option>
                  <option>Warehouse Transfer</option>
               </select>
            </div>
         </div>

         <!-- Order Number -->
         <div class="field" title="Reference to the Order Number">
            <label for="custom-control-orderNumber" class="required" translate>global.order.number</label>
            <input type="text" id="custom-control-orderNumber" ng-model="activeControl.options.orderNumberModel" data-validate="required" />
         </div>
         <!-- Order Suffix -->
         <div class="field" title="Reference to the Order Suffix">
            <label for="custom-control-orderSuffix" class="required" translate>global.order.suffix</label>
            <input type="text" id="custom-control-orderSuffix" ng-model="activeControl.options.orderSuffixModel" data-validate="required" />
         </div>
         <!-- Line Number -->
         <div class="field" title="Reference to the Line Number">
            <label for="custom-control-lineNumber" class="required" translate>global.line.number</label>
            <input type="text" id="custom-control-lineNumber" ng-model="activeControl.options.lineNumberModel" data-validate="required" />
         </div>
         <!-- ConditionReadonly -->
         <div class="field" title="Offers control over the ReadOnly setting.  (i.e. base.isReadOnly() will get the value from the parent this control resides on.)">
            <label for="custom-control-condition-readonly">Readonly Condition</label>
            <input type="text" id="custom-control-condition-readonly" ng-model="activeControl.options.conditionReadonly" />
         </div>
      </div>
      <div class="one-third column">
         <!-- Company Number -->
         <div class="field" title="Reference to the CompanyNumber (i.e. the cono2)">
            <label for="custom-control-companyNumber" translate>global.company.number</label>
            <input type="text" id="custom-control-companyNumber" ng-model="activeControl.options.companyNumberModel" />
         </div>
         <!-- Sequence Number -->
         <div class="field" title="Reference to the Sequence Number">
            <label for="custom-control-sequenceNumber" translate>global.sequence.number</label>
            <input type="text" id="custom-control-sequenceNumber" ng-model="activeControl.options.sequenceNumberModel" />
         </div>
         <!-- Product -->
         <div class="field" title="Reference to the Product">
            <label for="custom-control-prod" translate>global.product</label>
            <input type="text" id="custom-control-prod" ng-model="activeControl.options.prodModel" />
         </div>
         <!-- Nonstock Type -->
         <div class="field" title="Reference to the Nonstock Type">
            <label for="custom-control-nonStockType" translate>global.non.stock.type</label>
            <input type="text" id="custom-control-nonStockType" ng-model="activeControl.options.nonStockTypeModel" />
         </div>
         <!-- TransType -->
         <div class="field" title="Reference to the TransType">
            <label for="custom-control-transType" translate>global.trans.type</label>
            <input type="text" id="custom-control-transType" ng-model="activeControl.options.transTypeModel" />
         </div>
         <!-- Nonstock Type -->
         <div class="field" title="Reference to the Product Category">
            <label for="custom-control-productCategory" translate>global.product.category</label>
            <input type="text" id="custom-control-productCategory" ng-model="activeControl.options.productCategoryModel" />
         </div>
         <!-- Warehouse -->
         <div class="field" title="Reference to the Warehouse">
            <label for="custom-control-warehouse" translate>global.warehouse</label>
            <input type="text" id="custom-control-warehouse" ng-model="activeControl.options.warehouseModel" />
         </div>
      </div>
   </div>
</div>
