<div initialize>
   <div class="row">
      <div class="one-third column">
         <!-- Table Name -->
         <div class="field">
            <label for="user-fields-table-name" class="required" translate>Table Name</label>
            <input type="text" id="user-fields-table-name" ng-model="activeControl.options.tableName" data-validate="required" />
         </div>

         <!-- Object Reference -->
         <div class="field">
            <label for="user-fields-object-ref" class="required" translate>Parent Object Reference</label>
            <input type="text" id="user-fields-object-ref" ng-model="activeControl.options.objectRef" data-validate="required" />
         </div>
      </div>

      <div class="one-third column">
         <!-- Readonly -->
         <div class="field">
            <label for="user-fields-condition-readonly" translate>Readonly Condition</label>
            <input id="user-fields-condition-readonly" type="text" ng-model="activeControl.options.conditionReadonly" />
         </div>
      </div>

      <div class="one-third column">
         <!-- ChangeEventUser1 -->
         <div class="field">
            <label for="user-fields-change-event1" translate>Change Event User1</label>
            <input id="user-fields-change-event1" type="text" ng-model="activeControl.options.eventChangeUser1" />
         </div>
         <!-- ChangeEventUser2 -->
         <div class="field">
            <label for="user-fields-change-event2" translate>Change Event User2</label>
            <input id="user-fields-change-event2" type="text" ng-model="activeControl.options.eventChangeUser2" />
         </div>
         <!-- ChangeEventUser3 -->
         <div class="field">
            <label for="user-fields-change-event3" translate>Change Event User3</label>
            <input id="user-fields-change-event3" type="text" ng-model="activeControl.options.eventChangeUser3" />
         </div>
         <!-- ChangeEventUser4 -->
         <div class="field">
            <label for="user-fields-change-event4" translate>Change Event User4</label>
            <input id="user-fields-change-event4" type="text" ng-model="activeControl.options.eventChangeUser4" />
         </div>
         <!-- ChangeEventUser5 -->
         <div class="field">
            <label for="user-fields-change-event5" translate>Change Event User5</label>
            <input id="user-fields-change-event5" type="text" ng-model="activeControl.options.eventChangeUser5" />
         </div>
         <!-- ChangeEventUser6 -->
         <div class="field">
            <label for="user-fields-change-event6" translate>Change Event User6</label>
            <input id="user-fields-change-event6" type="text" ng-model="activeControl.options.eventChangeUser6" />
         </div>
         <!-- ChangeEventUser7 -->
         <div class="field">
            <label for="user-fields-change-event7" translate>Change Event User7</label>
            <input id="user-fields-change-event7" type="text" ng-model="activeControl.options.eventChangeUser7" />
         </div>
         <!-- ChangeEventUser8 -->
         <div class="field">
            <label for="user-fields-change-event8" translate>Change Event User8</label>
            <input id="user-fields-change-event8" type="text" ng-model="activeControl.options.eventChangeUser8" />
         </div>
         <!-- ChangeEventUser9 -->
         <div class="field">
            <label for="user-fields-change-event9" translate>Change Event User9</label>
            <input id="user-fields-change-event9" type="text" ng-model="activeControl.options.eventChangeUser9" />
         </div>

      </div>

   </div>
</div>
