<div initialize>
   <div class="row">

      <div class="one-half column">
         <!-- Comment Type -->
         <div class="field" title="Comment Type">
            <label for="custom-control-commentType" class="required" translate>global.type</label>
            <input type="text" id="custom-control-commentType" ng-model="activeControl.options.commentTypeModel" data-validate="required" />
         </div>
         <!-- Table Name -->
         <div class="field" title="Table Name">
            <label for="custom-control-tableName" class="required" translate>global.table.name</label>
            <input type="text" id="custom-control-tableName" ng-model="activeControl.options.tableNameModel" data-validate="required" />
         </div>
         <!-- Order Number -->
         <div class="field" title="Reference to the Order Number (i.e. drldwnli.drillDownLineItemRecord.reportno)">
            <label for="custom-control-orderNumber" class="required" translate>global.order.number</label>
            <input type="text" id="custom-control-orderNumber" ng-model="activeControl.options.orderNumberModel" data-validate="required" />
         </div>
         <!-- Order Suffix -->
         <div class="field" title="Reference to the Order Suffix (i.e. line.ordersuf)">
            <label for="custom-control-orderSuffix" translate>global.order.suffix</label>
            <input type="text" id="custom-control-orderSuffix" ng-model="activeControl.options.orderSuffixModel" />
         </div>
         <!-- Line Number -->
         <div class="field" title="Reference to the Line Number (i.e. drldwnli.drillDownLineItemRecord.lineno)">
            <label for="custom-control-lineNumber" class="required" translate>global.line.number</label>
            <input type="text" id="custom-control-lineNumber" ng-model="activeControl.options.lineNumberModel" data-validate="required" />
         </div>
      </div>

      <div class="one-half column">
         <!-- Auto Focus -->
         <div class="field">
            <input type="checkbox" id="custom-control-autofocus" class="checkbox" ng-model="activeControl.options.isAutoFocus" />
            <label class="checkbox-label" for="custom-control-autofocus" translate>wysiwyg.auto.focus</label>
         </div>
         <!-- ConditionReadonly -->
         <div class="field" title="Offers control over the ReadOnly setting.  (i.e. base.isReadOnly() will get the value from the parent this control resides on.)">
            <label for="custom-control-condition-readonly">Readonly Condition</label>
            <input type="text" id="custom-control-condition-readonly" ng-model="activeControl.options.conditionReadonly" />
         </div>
      </div>

   </div>
</div>
