<div initialize>

   <div class="row">
      <div class="one-third column">

         <!-- Get arsc model -->
         <div class="field" title="Reference to arsc record (if parent function already fetched it)">
            <label for="custom-control-arsc-model">ARSC Model Reference</label>
            <input type="text" id="custom-control-arsc-model" ng-model="activeControl.options.arscModel" />
         </div>

         <!-- Get arsc function -->
         <div class="field" title="Reference to a function that can asynchronously provide the arsc via a callback function">
            <label for="custom-control-arsc-fn">Get Customer Function</label>
            <input type="text" id="custom-control-arsc-fn" ng-model="activeControl.options.arscFunction" />
         </div>

         <!-- Get groupid model -->
         <div class="field" title="Reference to a groupid model">
            <label for="custom-control-groupid-model">Groupid Reference</label>
            <input type="text" id="custom-control-groupid-model" ng-model="activeControl.options.groupidModel" />
         </div>

         <!-- Get duedatestring model -->
         <div class="field" title="Reference to a duedate string model">
            <label for="custom-control-duedate-model">DueDate String Reference</label>
            <input type="text" id="custom-control-duedate-model" ng-model="activeControl.options.duedateModel" />
         </div>

         <!-- Get setno model -->
         <div class="field" title="Reference to a setno model">
            <label for="custom-control-setno-model">Set Number Reference</label>
            <input type="text" id="custom-control-setno-model" ng-model="activeControl.options.setnoModel" />
         </div>

         <!-- Get journal# model -->
         <div class="field" title="Reference to a journal number model">
            <label for="custom-control-jrnlno-model">Journal Number Reference</label>
            <input type="text" id="custom-control-jrnlno-model" ng-model="activeControl.options.jrnlnoModel" />
         </div>

         <!-- Get shipto# model -->
         <div class="field" title="Reference to a shipto model">
            <label for="custom-control-shipto-model">ShipTo Reference</label>
            <input type="text" id="custom-control-shipto-model" ng-model="activeControl.options.shiptoModel" />
         </div>
      </div>
      <div class="one-third column">
         <!--<p class="message">-->
         <ul>
            <li>
               Choose the 1st option if your parent controller already fetches the arsc record.
            </li>
            <li>
               Choose the 2nd option and implement a function that sends the customer via a callback function (In this case customer can be used in multiple tabs with in same view state).
            </li>
            <li>
               Choose the 3rd option that sends the groupid value (Give only if groupid available in your active view).
            </li>
            <li>
               Choose the 4th option that sends the duedate string value (Use only when navigating to transaction view from period balance).
            </li>
         </ul>
         <!--</p>-->
      </div>
   </div>
</div>