/* Style for Source Viewer */

/* CSS to add line numbers before each code line */
#source-viewer pre {
   counter-reset: line;
   line-height: 150%;
   padding: 10px;
   height: 100%;
}
#source-viewer code {
   counter-increment: line;
}
#source-viewer pre.line-numbers code:before {
   content: counter(line) "    ";
   opacity: 0.25;
   -webkit-user-select: none;
}