<div initialize>
   <div class="row">
      <div class="one-half column">
         <!-- Type -->
         <div class="field" title="This is required.  Defines the type of contact data we are accessing.">
            <label for="custom-control-type">Type</label>
            <div class="field">
               <select id="custom-control-type"
                       class="dropdown dropdown"
                       ng-model="activeControl.options.type"
                       dropdown>
                  <option>Bank</option>
                  <option>Bill To</option>
                  <option>From Cono</option>
                  <option>To Cono</option>
                  <option>Ship From</option>
                  <option>Ship To</option>
                  <option>Vendor</option>
               </select>
            </div>
         </div>

         <!-- TableName -->
         <div class="field" title="This is required, but blank is a valid option. (Note: This is the Table Name of the Key Data of where called from, not necessarily matching the 'Type' from above but the paramData you pass in.)">
            <label for="custom-control-tablename">Table Name</label>
            <div class="field">
               <select id="custom-control-tablename"
                       class="dropdown dropdown"
                       ng-model="activeControl.options.tableName"
                       dropdown>
                  <option></option>
                  <option>poeh</option>
                  <option>wteh</option>
               </select>
            </div>
         </div>
      </div>

      <div class="one-half column">
         <!-- Control Reference -->
         <div class="field" title="Use this to define the name of this control and how it can be referenced from the calling controller (i.e. quickView.vendorContactsControl).  Required to get the criteria into the control.">
            <label class="required" for="custom-control-reference">Control Reference</label>
            <input id="custom-control-reference" type="text" ng-model="activeControl.options.controlRef" />
         </div>

         <!-- Ready Event -->
         <div class="field" title="After control has been initialized and the API is ready for use (i.e. quickView.vendorContactsControlReady())">
            <label for="custom-control-event-ready" class="required">Ready</label>
            <input type="text" id="custom-control-event-ready" ng-model="activeControl.options.eventReady" />
         </div>
      </div>

</div>
