<div initialize>
   <div class="row">

      <div class="one-third column">
         <!-- Function Name -->
         <div class="field" title="Reference function that is calling the Tally Control">
            <label for="custom-control-functionName-model" class="required">Function Name</label>
            <div class="field">
               <select id="custom-control-functionName-model"
                       class="dropdown dropdown"
                       ng-model="activeControl.options.functionNameModel"
                       dropdown>
                  <option>poei</option>
                  <option>poip</option>
                  <option>poet</option>
               </select>
            </div>
         </div>

         <!-- Save Callback Function -->
         <div class="field" title="Reference to the Save Callback function sitting on the Parent (Only used when we need to do this, leave it blank otherwise.)">
            <label for="custom-control-saveCallback">Save Callback Function on Parent</label>
            <input type="text" id="custom-control-saveCallback" ng-model="activeControl.options.saveCallbackModel"/>
         </div>

         <!-- Control Reference -->
         <div class="field" title="Use this to define the name of this control and how it can be referenced from the calling controller (i.e. dlqv.tallyControl).  Required for the Bundles save logic.">
            <label class="required" for="custom-control-reference">Control Reference</label>
            <input id="custom-control-reference" type="text" ng-model="activeControl.options.controlRef" />
         </div>

      </div>

      <div class="one-third column">
         <!-- Purchase Order Number -->
         <div class="field" title="Reference to the Purchase Order Number">
            <label for="custom-control-purchaseOrderNumber" class="required" translate>global.purchase.order.number</label>
            <input type="text" id="custom-control-purchaseOrderNumber" ng-model="activeControl.options.purchaseOrderNumberModel" data-validate="required"/>
         </div>
         <!-- Purchase Order Suffix -->
         <div class="field" title="Reference to the Order Suffix">
            <label for="custom-control-purchaseOrderSuffix" class="required" translate>global.order.suffix</label>
            <input type="text" id="custom-control-purchaseOrderSuffix" ng-model="activeControl.options.purchaseOrderSuffixModel" data-validate="required"/>
         </div>
         <!-- Line Number -->
         <div class="field" title="Reference to the Line Number">
            <label for="custom-control-lineNumber" class="required" translate>global.line.number</label>
            <input type="text" id="custom-control-lineNumber" ng-model="activeControl.options.lineNumberModel" data-validate="required"/>
         </div>
         <!-- Product -->
         <div class="field" title="Reference to the Product">
            <label for="custom-control-product" class="required" translate>global.product</label>
            <input type="text" id="custom-control-product" ng-model="activeControl.options.productModel" data-validate="required"/>
         </div>
         <!-- Warehouse -->
         <div class="field" title="Reference to the Warehouse">
            <label for="custom-control-whse" class="required" translate>global.warehouse</label>
            <input type="text" id="custom-control-whse" ng-model="activeControl.options.warehouseModel" data-validate="required"/>
         </div>
      </div>

      <div class="one-third column">
         <!-- Unit -->
         <div class="field" title="Reference to the Unit">
            <label for="custom-control-unit" class="required" translate>global.unit</label>
            <input type="text" id="custom-control-unit" ng-model="activeControl.options.unitModel" data-validate="required" />
         </div>
         <!-- Quantity Received -->
         <div class="field" title="Reference to the Quantity Received">
            <label for="custom-control-quantityReceived" class="required" translate>global.quantity.received</label>
            <input type="text" id="custom-control-quantityReceived" ng-model="activeControl.options.quantityReceivedModel" data-validate="required" />
         </div>
         <!-- Price -->
         <div class="field" title="Reference to the Price">
            <label for="custom-control-price" class="required" translate>global.price</label>
            <input type="text" id="custom-control-price" ng-model="activeControl.options.priceModel" data-validate="required" />
         </div>
         <!-- SecurityLevel -->
         <div class="field" title="Reference to the Security Level (i.e. An integer representing 0-5)">
            <label for="custom-control-menuSecurity" class="required" translate>global.function.security</label>
            <input type="text" id="custom-control-menuSecurity" ng-model="activeControl.options.menuSecurityModel" data-validate="required" />
         </div>
         <!-- Get Bundles Flag -->
         <div class="field" title="Set this if this control is sitting on the Bundles Control.">
            <input type="checkbox" id="custom-control-getbundlesflag" class="checkbox" ng-model="activeControl.options.getBundlesFlagModel" />
            <label class="checkbox-label" for="custom-control-getbundlesflag">Is Tally Control within the Bundles Control?</label>
         </div>
         <!-- ConditionReadonly -->
         <div class="field" title="Offers control over the ReadOnly setting.  (i.e. base.isReadOnly() will get the value from the parent this control resides on.)">
            <label for="custom-control-condition-readonly">Readonly Condition</label>
            <input type="text" id="custom-control-condition-readonly" ng-model="activeControl.options.conditionReadonly" />
         </div>

      </div>
   </div>
</div>