<div initialize>
   <div class="row">
      <div class="one-third column">
         <!-- Control Reference -->
         <div class="field" title="Controller-based reference for where to place the control API after it's ready (i.e. dtl.printerControl)">
            <label for="custom-control-reference" translate>Control Reference</label>
            <input id="custom-control-reference" type="text" ng-model="activeControl.options.controlRef" />
         </div>

         <!-- Ready Event -->
         <div class="field" title="After control has been initialized and the API is ready for use (i.e. dtl.printerControlReady())">
            <label for="custom-control-event-ready" translate>Ready</label>
            <input type="text" id="custom-control-event-ready" ng-model="activeControl.options.eventReady" />
         </div>
      </div>

      <div class="one-third column">
         <!-- Function Name -->
         <div class="field">
            <label for="custom-control-function-name">Function Name</label>
            <input type="text" id="custom-control-function-name" ng-model="activeControl.options.functionName" />
         </div>

         <!-- Sub Function Name -->
         <div class="field">
            <label for="custom-control-sub-function-name">Sub Function Name</label>
            <input type="text" id="custom-control-sub-function-name" ng-model="activeControl.options.subFunctionName" />
         </div>

         <!-- Report Name -->
         <div class="field">
            <label for="custom-control-report-name">Report Name</label>
            <input type="text" id="custom-control-report-name" ng-model="activeControl.options.reportName" />
         </div>

         <!-- Default Print Type -->
         <div class="field">
            <label for="custom-control-default-print-type">Default Print Type</label>
            <input type="text" id="custom-control-default-print-type" ng-model="activeControl.options.defaultPrintType"/>
         </div>

         <!-- Print Warehouse -->
         <div class="field">
            <label for="custom-control-print-warehouse">Print Warehouse</label>
            <input type="text" id="custom-control-print-warehouse" ng-model="activeControl.options.printWarehouse" />
         </div>
      </div>

      <div class="one-third column">
         <!-- Printer Settings Model (internal control settings) -->
         <div class="field" title="If you need to store the internal printerSettings object somewhere (to be reused by the control), then enter the reference here (i.e. base.printerControlSettings). When the control renders, it will use these settings (if they still exist), otherwise new settings will be initialized.">
            <label for="custom-control-printer-settings-model">Printer Settings Model</label>
            <input type="text" id="custom-control-printer-settings-model" ng-model="activeControl.options.printerSettingsModel" />
         </div>
      </div>
   </div>
</div>
